#principal {
  background-color: #009900;
  display: flex;
  justify-content: center;
  height: 35px;
}

#secundario {
  color: #009900;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #009900;
  border: none;
  color: white;
}

button:hover {
  background-color:#006600;
}